* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant-Regular';
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.header {
    font-size: 24px;
    margin-top: 100px;
    border-bottom: 1px solid #000;
    width: 1660px;
    display: flex;
    margin: 0 auto;
}

.nav-link {
    width: 576px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link a {
    text-decoration: none;
    color: black;
}

.header-logo {
    margin: 0 auto;
}

.nav-item-delivery {
    align-self: stretch;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 1;
    flex-shrink: 1;
    width: 106px;
}

.nav-item-masterclass {
    align-self: stretch;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 1;
    flex-shrink: 1;
    width: 181px;
}

.hero-image {
    aspect-ratio: 1000;
    object-fit: contain;
    object-position: center;
    width: 100%;
    margin-top: 25px;
    max-width: 1660px;
}

@media (max-width: 991px) {
    .hero-image {
        max-width: 100%;
    }
}

.bestsellers-title {
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 1);
    font-size: 48px;
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
    font-weight: 300;
    margin-top: 88px;
}

@media (max-width: 991px) {
    .bestsellers-title {
        max-width: 100%;
        margin-top: 40px;
        font-size: 40px;
    }
}

.product-labels {
    align-items: stretch;
    gap: 20px;
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 1);
    font-weight: 300;
}

@media (max-width: 991px) {
    .product-labels {
        margin-top: 40px;
    }
}

.product-row {
    margin: auto;
    width: 100%;
    margin-top: 44px;
    max-width: 1672px;
}

@media (max-width: 991px) {
    .product-row {
        max-width: 100%;
    }
}

.product-grid {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .product-grid {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.product-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .product-column {
        width: 100%;
    }
}

.product-card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    font-family: Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
    font-size: 24px;
    font-weight: 300;
}

@media (max-width: 991px) {
    .product-card {
        max-width: 100%;
        margin-top: 40px;
    }
}

.product-image {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100%;
    align-self: stretch;
}

@media (max-width: 991px) {
    .product-image {
        max-width: 100%;
    }
}

.product-price {
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    margin-top: 9px;
}

.add-to-cart-btn {
    border-radius: 20px;
    background-color: rgba(221, 79, 105, 1);
    margin-top: 15px;
    width: 302px;
    border: none;
    max-width: 100%;
    padding: 22px 70px;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    cursor: pointer;
}

@media (max-width: 991px) {
    .add-to-cart-btn {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.product-column-middle {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .product-column-middle {
        width: 100%;
    }
}

.product-column-right {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .product-column-right {
        width: 100%;
    }
}

.product-labels-second {
    display: flex;
    margin-top: 56px;
    width: 100%;
    max-width: 1323px;
    align-items: stretch;
    gap: 20px;
    font-family: Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    font-weight: 300;
    white-space: nowrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .product-labels-second {
        max-width: 100%;
        margin-top: 40px;
        white-space: initial;
    }
}

.product-labels-third {
    display: flex;
    margin-top: 56px;
    width: 1227px;
    max-width: 100%;
    align-items: stretch;
    gap: 20px;
    font-family: Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    font-weight: 300;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .product-labels-third {
        margin-top: 40px;
        white-space: initial;
    }
}

.product-labels-fourth {
    display: flex;
    margin-top: 56px;
    width: 100%;
    max-width: 1460px;
    align-items: stretch;
    gap: 20px;
    font-family: Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    font-weight: 300;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .product-labels-fourth {
        max-width: 100%;
        margin-top: 40px;
    }
}

.product-row-fourth {
    margin-top: 31px;
    width: 100%;
    max-width: 1672px;
}

@media (max-width: 991px) {
    .product-row-fourth {
        max-width: 100%;
    }
}

.cta-container {
    margin: auto;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 2px;
    display: flex;
    margin-top: 66px;
    width: 632px;
    max-width: 100%;
    padding: 55px 80px 30px;
    flex-direction: column;
    align-items: center;
    font-family: Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
    font-size: 24px;
    font-weight: 300;
}

@media (max-width: 991px) {
    .cta-container {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 40px;
    }
}

.cta-content {
    display: flex;
    width: 362px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
}

.cta-text {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    align-self: stretch;
}

.cta-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 39px;
    margin-top: 12px;
}

.cta-button {
    font-size: 24px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 13px;
    width: 302px;
    max-width: 100%;
    padding: 20px 36px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    cursor: pointer;
}

@media (max-width: 991px) {
    .cta-button {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container7 {
    margin-top: 80px;
    background-color: #f4d4df;
    padding: 42px 69px;
    width: 100%;
}

.container8 {

    display: flex;
    gap: 20px;

}

.logo-contact-column {
    width: 39%;
}

.logo-contact-wrapper {
    display: flex;
}

.logo-wrapper {
    width: 50%;
}

.logo {
    aspect-ratio: 1.06;
    object-fit: contain;
    object-position: center;
    width: 213px;
    max-width: 100%;
}

.contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    font-weight: 300;
}

.brand-name {
    color: #dd4f69;
    font-size: 48px;
    font-family: Inter, serif;
    font-weight: 200;
}

.contact-details {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-top: 46px;
}

.navigation-form-column {
    width: 61%;
}

.navigation-form-wrapper {
    display: flex;
    gap: 20px;
}

ul {
    list-style-type: none;
}

.navigation {
    width: 36%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 35px;
}

.nav-links {
    color: #fff;
    font: 300 20px/26px Inter, sans-serif;
}

.form-wrapper {
    width: 64%;
}

.form-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #fff;
    font: 400 20px Montserrat, sans-serif;
}

.form-description {
    font-family: Inter, sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
}

.form-input {
    font-size: 20px;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 405px;
    max-width: 100%;
    border: none;
    color: #333333;
    padding: 18px 16px 11px;
    margin-top: 10px;
}

.button1 {
    border-radius: 4px;
    background-color: #dd4f69;
    margin-top: 11px;
    font-size: 18px;
    font-weight: 700;
    width: 405px;
    line-height: 1.1;
    padding: 16px 39px;
    border: 1px solid #dd4f69;
    color: #fff;
    cursor: pointer;
}
