* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant-Regular';
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.header {
    font-size: 24px;
    margin-top: 100px;
    border-bottom: 1px solid #000;
    width: 1660px;
    display: flex;
    margin: 0 auto;
}

.nav-link {
    width: 576px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link a {
    text-decoration: none;
    color: black;
}

.header-logo {
    margin: 0 auto;
}

.container {
    max-width: 1920px;
    padding: 0 130px;
    width: 100%;
    margin: 0 auto;


}

.main {
    background-color: #ffffff;
    min-height: 673px;
    padding-top: 40px;
    width: 1660px;
    height: 673px;
    margin: 0 auto;
    display: flex;
    border-radius: 40px;
}

h1 {
    width: 219px;
    margin: 0 719px;
    color: rgba(221, 79, 105, 1);
    font-family: Inter, serif;
    font-weight: 200;
    font-size: 48px;
    opacity: 1;
    text-align: left;
}

.content {
    display: flex;
    flex-direction: column;
}

.contact-detail {
    display: flex;
    flex-direction: row;
    width: 1658px;
    margin: auto;


}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 679px;
    height: 313px;
    background: rgba(244, 212, 223, 1);
    opacity: 1;
    top: 356px;
    left: 131px;
    border-radius: 156px;
    overflow: hidden;
}

.contact-detail p {
    width: 588px;
    color: rgba(0, 0, 0, 1);
    font-family: Inter, serif;
    font-weight: 200;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.container7 {
    margin-top: 270px;
    background-color: #f4d4df;
    padding: 42px 69px;
    width: 100%;
}

ul {
    list-style-type: none;
}

.container8 {

    display: flex;
    gap: 20px;

}

.logo-contact-column {
    width: 39%;
}

.logo-contact-wrapper {
    display: flex;
}

.logo-wrapper {
    width: 50%;
}

.logo {
    aspect-ratio: 1.06;
    object-fit: contain;
    object-position: center;
    width: 213px;
    max-width: 100%;
}

.contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    font-weight: 300;
}

.brand-name {
    color: #dd4f69;
    font-size: 48px;
    font-family: Inter, serif;
    font-weight: 200;
}

.contact-details {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-top: 46px;
}

.navigation-form-column {
    width: 61%;
}

.navigation-form-wrapper {
    display: flex;
    gap: 20px;
}

.navigation {
    width: 36%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 35px;
}

.nav-links {
    color: #fff;
    font: 200 20px/26px Inter, sans-serif;
}

.form-wrapper {
    width: 64%;
}

.form-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #fff;
    font: 400 20px Montserrat, sans-serif;
}

.form-description {
    font-family: Inter, sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
}

.form-input {
    font-size: 20px;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 405px;
    max-width: 100%;
    border: none;
    color: #333333;
    padding: 18px 16px 11px;
    margin-top: 10px;
}

.button1 {
    border-radius: 4px;
    background-color: #dd4f69;
    margin-top: 11px;
    font-size: 18px;
    font-weight: 700;
    width: 405px;
    line-height: 1.1;
    padding: 16px 39px;
    border: 1px solid #dd4f69;
    color: #fff;
    cursor: pointer;
}


.block-flower {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 60px;
}

.text-flower {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 24px;
}

.text-flower-main {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Inter, serif;
    font-size: 40px;
}
