* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant-Regular';
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.header {
    font-size: 24px;
    margin-top: 100px;
    border-bottom: 1px solid #000;
    width: 1660px;
    display: flex;
    margin: 0 auto;
}

.nav-link {
    width: 576px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link a {
    text-decoration: none;
    color: black;
}

.header-logo {
    margin: 0 auto;
}

.decorative-line {
    aspect-ratio: 1000;
    object-fit: contain;
    object-position: center;
    width: 100%;
    margin-top: 25px;
    max-width: 1660px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    color: #000000;
    font-size: 48px;
    font-family: Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
    font-weight: 300;
    margin-top: 67px;
    margin-bottom: 0;
}

.page-subtitle {
    color: #000000;
    font-size: 24px;
    font-family: Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
    font-weight: 300;
    margin-top: 58px;
    text-align: center;
}

.info-section {
    margin-top: 63px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container {
    width: 1630px;
    gap: 20px;
    display: flex;
}

.info-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
}

.left-column {
    width: 31%;
    margin-left: 0;
}

.info-content {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    align-self: stretch;
    align-items: stretch;
    font-family: Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
    font-size: 24px;
    color: #000000;
    font-weight: 300;
    text-align: center;
}

.info-text {
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
    margin: 0;
}

.info-text-bottom {
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
    align-self: start;
    margin-top: 246px;
    margin-bottom: 0;
}

.right-column {
    width: 69%;
    margin-left: 20px;
}

.info-gallery {
    flex-grow: 1;
}

.gallery-container {
    gap: 20px;
    display: flex;
}

.gallery-image-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
    width: 55%;
    margin-left: 0;
}

.gallery-image {
    aspect-ratio: 0.8;
    object-fit: contain;
    object-position: center;
    width: 100%;
    flex-grow: 1;
}

.gallery-text-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
    width: 45%;
    margin-left: 20px;
}

.gallery-text-content {
    margin-top: auto;
    margin-bottom: auto;
    align-self: stretch;
    font-family: Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
    font-size: 24px;
    color: #000000;
    font-weight: 300;
    text-align: center;
}

.gallery-text {
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
    margin: 0;
}

.gallery-text-bottom {
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
    margin-top: 246px;
    margin-bottom: 0;
}

.contact-section {
    margin-top: 85px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-container {
    gap: 20px;
    display: flex;
    width: 1450px;
}

.contact-image-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
    width: 50%;
    margin-left: 0;
}

.contact-image {
    aspect-ratio: 0.75;
    object-fit: contain;
    object-position: center;
    width: 100%;
}

.contact-form-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
}

.contact-content {
    display: flex;
    margin-top: 11px;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    font-family: Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.contact-decoration {
    aspect-ratio: 0.8;
    object-fit: contain;
    object-position: center;
    width: 479px;
    align-self: center;
    max-width: 100%;
}

.contact-form-wrapper {
    border: 2px solid #000000;
    display: flex;
    margin-top: 84px;
    padding: 72px 81px;
    width: 632px;
    margin-left: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form-content {
    display: flex;
    width: 394px;
    max-width: 100%;
    flex-direction: column;
    align-items: stretch;
}

.contact-text {
    color: #000000;
    text-align: center;
    margin: 0;
}

.cta-button {
    border-radius: 20px;
    background-color: #000000;
    align-self: center;
    margin-top: 69px;
    width: 302px;
    max-width: 100%;
    padding: 22px 39px;
    color: #ffffff;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.container7 {
    margin-top: 80px;
    background-color: #f4d4df;
    padding: 42px 69px;
    width: 100%;
}

.container8 {

    display: flex;
    gap: 20px;

}

.logo-contact-column {
    width: 39%;
}

.logo-contact-wrapper {
    display: flex;
}

.logo-wrapper {
    width: 50%;
}

.logo {
    aspect-ratio: 1.06;
    object-fit: contain;
    object-position: center;
    width: 213px;
    max-width: 100%;
}

.contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    font-weight: 300;
}

.brand-name {
    color: #dd4f69;
    font-size: 48px;
    font-family: Inter, serif;
    font-weight: 200;
}

.contact-details {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-top: 46px;
}

.navigation-form-column {
    width: 61%;
}

.navigation-form-wrapper {
    display: flex;
    gap: 20px;
}

ul {
    list-style-type: none;
}

.navigation {
    width: 36%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 35px;
}

.nav-links {
    color: #fff;
    font: 300 20px/26px Inter, sans-serif;
}

.form-wrapper {
    width: 64%;
}

.form-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: #fff;
    font: 400 20px Montserrat, sans-serif;
}

.form-description {
    font-family: Inter, sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
}

.form-input {
    font-size: 20px;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 405px;
    max-width: 100%;
    border: none;
    color: #333333;
    padding: 18px 16px 11px;
    margin-top: 10px;
}

.button1 {
    border-radius: 4px;
    background-color: #dd4f69;
    margin-top: 11px;
    font-size: 18px;
    font-weight: 700;
    width: 405px;
    line-height: 1.1;
    padding: 16px 39px;
    border: 1px solid #dd4f69;
    color: #fff;
    cursor: pointer;
}
