.zodiac-result-container {
    max-width: 1100px;
    margin: 150px auto;
}

.zodiac-sign {
    color: #dd4f69;
}

.zodiac-result-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.zodiac-card {
    flex: 1;
    min-width: 300px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.06);
    text-align: center;
}

.zodiac-image {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    margin: 10px 0 15px;
}

.cta-button {
    background: #dd4f69;
    color: #fff;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.cta-button:hover {
    background: #c23e57;
}

.back-btn {
    background: #fff;
    border: 2px solid #dd4f69;
    color: #dd4f69;
}

.back-btn:hover {
    background: #dd4f69;
    color: #fff;
}

.zodiac-back {
    margin-top: 30px;
    text-align: center;
}
